# Python
__pycache__/
*.pyc
venv/
.venv/
env/

# Secrets - VERY IMPORTANT
.env

# Local Database
local_db.sqlite3

# IDE / Editor specific
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/